.ux-ui-table {
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .ux-ui-table h2 {
    text-align: center;
    color: #007bff;
  }
  
  .ux-ui-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ux-ui-table th, .ux-ui-table td {
    border: 1px solid #007bff;
    text-align: center;
    margin: 5em;
  }
  
  .ux-ui-table th {
    background-color: #1b1b1b;
    color: #0f83ff;
    font-weight: bold;
  }
  
  .ux-ui-table tr:nth-child(even) {
    background-color: #1b1b1b;    
    color: #ffffff;
  }
  